<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-eddieelorza/blob/main/modulo_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **MODULO 4**

Eddie Guadalupe Elorza Ruiz | A01793547

LEYENDO ARCHIVOS DE TEXTO

El argumento de modo es opcional y el valor predeterminado es r. 
En este cuaderno solo cubrimos dos modos: 
* **r**: modo de lectura para leer archivos 
* **w**: modo de escritura para escribir archivos

In [ ]:
# Read the Example1.txt
example1 = "Example1.txt"
file1 = open(example1, "r")

In [ ]:
# Print the path of file

file1.name

In [ ]:
# Read the file

FileContent = file1.read()
FileContent

In [ ]:
# Read the file

FileContent = file1.read()
FileContent

In [ ]:
# Open file using with

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

In [ ]:
# Verify if the file is closed

file1.closed

In [ ]:
# See the content of file

print(FileContent)

In [ ]:
# Read first four characters

with open(example1, "r") as file1:
    print(file1.read(4))

In [ ]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

In [ ]:
# Read one line

with open(example1, "r") as file1:
    print("first line: " + file1.readline())

ESCRITURA DE ARCHIVOS

In [ ]:
# Write line to file
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [ ]:
# Read file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

In [ ]:
# Write lines to file

with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [ ]:
# Sample list of text

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

In [ ]:
# Write the strings in the list to text file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

In [ ]:
# Verify if writing to file is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

In [ ]:
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

AGREGAR ARCHIVOS

In [ ]:
# Write a new line to text file

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [ ]:
# Verify if the new line is in the text file

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

IMPORTAR PANDAS

In [ ]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

In [ ]:
#Display the first three rows:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

In [ ]:
#Obtain column  'a' :
df["a"]

0    11
1    21
2    31
Name: a, dtype: int64

In [ ]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [ ]:
#Find the unique values in column  'a' :
df['a'].unique()

array([1, 2])

In [ ]:
#Return a dataframe with only the rows where column  a  is less than two:
df[df['a']<2]

   a  b
0  1  1
2  1  1

In [ ]:
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [ ]:
# Dependency needed to install file 

# If running the notebook on your machine, else leave it commented
# !pip install xlrd

import piplite
await piplite.install(['xlrd','openpyxl'])

In [ ]:
# Import required library

import pandas as pd

In [ ]:
# Read data from CSV file

# csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
# df = pd.read_csv(csv_path)

from pyodide.http import pyfetch
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())


await download(filename, "TopSellingAlbums.csv")
df = pd.read_csv("TopSellingAlbums.csv")

In [ ]:
# Print first five rows of the dataframe

df.head()

In [ ]:
# Read data from Excel File and print the first five rows

xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'

await download(xlsx_path, "TopSellingAlbums.xlsx")
df = pd.read_excel("TopSellingAlbums.xlsx")
df.head()

In [ ]:
# Access to the column Length

x = df[['Length']]
x

Visualizaci√≥n de datos y acceso a datos

In [ ]:
# Get the column as a series

x = df['Length']
x

In [ ]:
# Get the column as a dataframe

x = df[['Artist']]
type(x)

In [ ]:
# Access to multiple columns

y = df[['Artist','Length','Genre']]
y

In [ ]:
# Access the value on the first row and the first column

df.iloc[0, 0]

Quiz on DataFrame

In [ ]:
#Use a variable q to store the column Rating as a dataframe
q = df[['Rating']]
q

In [ ]:
#Assign the variable q to the dataframe that is made up of the column Released and Artist:
q = df[['Released', 'Artist']]
q

In [ ]:
#Access the 2nd row and the 3rd column of df:
df.iloc[1, 2]

In [ ]:
#Use the following list to convert the dataframe index df to 
#characters and assign it to df_new; find the element corresponding 
#to the row index a and column 'Artist'. Then select the rows a through d for the column 'Artist'


new_index=['a','b','c','d','e','f','g','h']