<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-eddieelorza/blob/main/Modulo_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**MODULO 3**

# **Conditions**

**Comparison Operators**
1. equal: ==
1.   not equal: !=
2.   not equal: !=
3.   not equal: !=
4.   less than: <
5.   greater than or equal to: >=
6.   less than or equal to: <=

**Comparison Operations**

In [4]:
#Find the value of i that produces a True:
i=-100000000
i!=0

True

**Branching**

 nos permite ejecutar diferentes declaraciones para diferentes entradas. Es útil pensar en una declaración if como una habitación cerrada, si la declaración es verdadera, podemos ingresar a la habitación y su programa ejecutará algunas tareas predefinidas, pero si la declaración es falsa, el programa ignorará la tarea.

In [1]:
#Find the value of x that prints the statement "this is a":
x = "a"
if(x=='a'):
    print("this is a")
else:
    print("this is  not a")

this is a

In [11]:
# Else statement example

age = 18
# age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Meat Loaf
move on

In [12]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Pink Floyd
move on

In [13]:
# Condition statement example

album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Album year is greater than 1980
do something..

**Logic Operators**

In [2]:
#Find the value of y that produces a True statement:
y=3
x=1
x>0 and y<10

True

In [5]:
# Condition Equal

a = 5
a == 6

False

In [6]:
# Greater than Sign

i = 6
i > 5

True

In [7]:
# Inequality Sign

i = 2
i != 6

True

In [8]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jackson"

False

In [9]:
# Use Inequality sign to compare the strings

"ACDC" != "Michael Jackson"

True

In [10]:
# Compare characters

'B' > 'A'

True

**Logical operators**
1. and
2. or
3. not