<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-eddieelorza/blob/main/Modulo_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **MODULO 2**

#TUPLES

In [8]:
#Create a tuple  (0,1,2,3)  and assign it to variable A:

A=(0,1,2,3)
A

(0, 1, 2, 3)

In [16]:
#Find the first two elements of tuple  A :
A[:2]

(0, 1)

In [37]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [38]:
# Print the type of the tuple you created

type(tuple1)

tuple

In [40]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [41]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [42]:
# Use negative index to get the value of the last element

tuple1[-1]

1.2

In [43]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [44]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [45]:
# Get the length of tuple

len(tuple2)

5

In [46]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [47]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [48]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [49]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [50]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [51]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

# Quiz on Tuples

In [52]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [53]:
# Write your code below and press Shift+Enter to execute
len(genres_tuple)

8

In [54]:
#Access the element, with respect to index 3:
genres_tuple[3]

'hard rock'

In [56]:
#Use slicing to obtain indexes 3, 4 and 5:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [57]:
#Find the first two elements of the tuple genres_tuple:
genres_tuple[:2]

('pop', 'rock')

In [66]:
#Find the first index of "disco":
genres_tuple.index("disco")

7

In [69]:
#Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):
C_tuple = (-5, 1, -3)
C_sorted = sorted(C_tuple)
C_sorted

[-5, -3, 1]

# LIST

In [39]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

list

In [19]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [20]:
# Sample List

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [22]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [23]:
# List slicing

L[3:5]

['MJ', 1]

In [24]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [25]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [26]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [27]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [28]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

In [29]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [17]:
#For the next few questions, you will need the following list:

B=["a","b","c"]
#Find the first two elements of the list  B:
B[:2]

['a', 'b']

In [14]:
#Change the first element of the list to an uppercase "A".
B[0] = "A"
B[0]

'A'

#Quiz on List

In [32]:
#Create a list a_list, with the following elements 1, hello, [1,2,3] and True.
a_list = [1, "hello", [1,2,3], True]
a_list

[1, 'hello', [1, 2, 3], True]

In [33]:
#Find the value stored at index 1 of a_list.
a_list[1]

'hello'

In [34]:
#Retrieve the elements stored at index 1, 2 and 3 of a_list.
a_list[1:4]

['hello', [1, 2, 3], True]

In [36]:
#Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:
A = [1, 'a'] 
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']

#SET

In [70]:
#Cast the following list to a set:
['A','B','C','A','B','C']
set(['A','B','C','A','B','C'])

{'A', 'B', 'C'}

In [72]:
#Add the string 'D' to the set S.

S={'A','B','C'}

S.add("D")
S

{'A', 'B', 'C', 'D'}

In [74]:
#Find the intersection of set A and B.

A={1,2,3,4,5}
B={1,3,9, 4,12}

A.intersection(B)

{1, 3, 4}

In [75]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [77]:
type(album_set)

set

In [78]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

SET OPERATIONS

In [79]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [80]:
# Add element to set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [81]:
# Try to add duplicate element to the set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [82]:
# Remove the element from set

A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [83]:
# Verify if the element is in the set

"AC/DC" in A

True

LOGIC OPERATIONS

In [84]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [85]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [86]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [87]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

In [88]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [89]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [90]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [91]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [92]:
# Check if subset

set(album_set2).issubset(album_set1)

False

In [93]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

# Quiz on Sets

In [94]:
#Convert the list ['rap','house','electronic music', 'rap'] to a set:
set(['rap','house','electronic music', 'rap'])

{'electronic music', 'house', 'rap'}

In [95]:
#Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) == sum(B)?
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("sum A", sum(A))
print("sum B", sum(B))

sum A 6
sum B 3