<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-eddieelorza/blob/main/Modulo-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



## **MODULO 1**
# Writing Your First Python Code

In [5]:
# Check the Python Version

import sys
print(sys.version)

3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]

In [4]:
print("Hello, Python!")
# Practice on writing comments

Hello, Python!

In [20]:
# print('Hi')
print('Hi')

Hi

In [21]:
# Print string as error message

frint("Hello, Python!")

NameError: ignored

In [22]:
# Try to see built-in error message

print("Hello, Python!)

SyntaxError: ignored

#Types of objects in Python

In [ ]:
# Integer
15

# Float
2.14

# String
"Hello, Python 101!"

In [7]:
type(15)

int

In [8]:
type(2.5)

float

In [9]:
type("Hola Mundo!")

str

In [10]:
type(True)

bool

In [12]:
#Converting numbers to strings
str(1)

'1'

# Converting from one object type to a different object type

In [23]:
# Convert 2 to a float

float(2)

2.0

In [24]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [25]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [26]:
# Convert a string into an integer

int('1')

1

In [27]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: ignored

In [28]:
# Convert the string "1.2" into a float

float('1.2')

1.2

#Converting numbers to strings

In [29]:
# Convert an integer to a string

str(1)

'1'

In [30]:
# Convert a float to a string

str(1.2)

'1.2'

#Exercise: Types

In [31]:
#What is the data type of the result of: 6 / 2?
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6/2)
#float

float

In [32]:
#What is the type of the result of: 6 // 2? (Note the double slash //.)
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6//2)
#int

int

#Expression and Variables

Expression

In [34]:
# Addition operation expression

43 + 60 + 16 + 41

# Subtraction operation expression

50 - 60

# Multiplication operation expression

5 * 5

# Division operation expression

25 / 5
# Integer division operation expression

25 // 5

5.0

#Exercise: Expression

In [35]:
#Let's write an expression that calculates how many hours there are in 160 minutes:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
160/60

2.6666666666666665

In [36]:
#Python follows well accepted mathematical conventions when evaluating mathematical expressions. In the following example, Python adds 30 to the result of the multiplication (i.e., 120).
# Mathematical expression

30 + 2 * 60

150

In [37]:
#And just like mathematics, expressions enclosed in parentheses have priority. So the following multiplies 32 by 60.

# Mathematical expression

(30 + 2) * 60

1920

#Variables

In [46]:
# Store value into variable

x = 43 + 60 + 16 + 41
# Print out the value in variable
print(x)
# Use aother variable to store the result of the operation between variable and value
y = x /60
print(x,"/60")
print(y)
# Overwrite variable with new value
x = x / 60
print(x)

160
160 /60
2.6666666666666665
2.6666666666666665

#Exercise: Expression and Variables in Python

In [47]:
#What is the value of x where x = 3 + 2 * 2
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x = 3 + 2 * 2
print(x)

7

In [49]:
#What is the value of y where y = (3 + 2) * 2?
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y = (3 + 2) * 2
y

10

In [51]:
#What is the value of z where z = x + y?
# Write your code below. Don't forget to press Shift+Enter to execute the cell
z = x + y
z

17

# String Operations

In [58]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

In [61]:
# Print the first element in the string

print(name[0])
# Print the element on index 6 in the string

print(name[6])

M
l

In [62]:
# Print the element on the 13th index in the string

print(name[13])

o

Negative Indexing

In [63]:
# Print the last element in the string

print(name[-1])

n

In [64]:
# Print the first element in the string

print(name[-15])

M

In [65]:
# Find the length of string

len("Michael Jackson")

15

slicing

In [66]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

'Mich'

In [67]:
# Take the slice on variable name with only index 8 to index 11

name[8:12]

'Jack'

Stride

In [68]:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2]

'McalJcsn'

In [71]:
# Get every second element in the range from index 0 to index 4

name[0:5:2]

'Mca'

#Concatenate Strings

In [72]:
# Concatenate two strings

statement = name + "is the best"
statement

'Michael Jacksonis the best'

In [73]:
# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [74]:
# Concatenate strings

name = "Michael Jackson"
name = name + " is the best"
name

'Michael Jackson is the best'

#Escape Sequences

In [75]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

# Tab escape sequence

print(" Michael Jackson \t is the best" )


# Include back slash in string

print(" Michael Jackson \\ is the best" )

# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson
 is the best
 Michael Jackson 	 is the best
 Michael Jackson \ is the best
 Michael Jackson \ is the best

#String Operations

In [76]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [77]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [78]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [80]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

-1

Quiz on Strings

In [82]:
#What is the value of the variable a after the following code is executed?
# Write your code below and press Shift+Enter to execute 

a = "1"
a
#"1"

'1'

In [83]:
#What is the value of the variable b after the following code is executed?
# Write your code below and press Shift+Enter to execute

b = "2"
b

'2'

In [85]:
#What is the value of the variable c after the following code is executed?
# Write your code below and press Shift+Enter to execute 

c = a + b
c

'12'

In [93]:
#Consider the variable d use slicing to print out the first three elements:
# Write your code below and press Shift+Enter to execute

d = "ABCDEFG"
print(d[:3])

ABC

In [94]:
#Use a stride value of 2 to print out every second character of the string e:
# Write your code below and press Shift+Enter to execute

e = 'clocrkr1e1c1t'
print(e[::2])

correct

##QUIZZ 1

In [52]:
#What is the result of the following operation in Python:
3 + 2 * 2

7

In [53]:
#In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])?
name = 'Lizz'
print(name[0:2])

Li

In [54]:
#In Python, if you executed var = '01234567', what would be the result of print(var[::2])?

var = '01234567'
print(var[::2])

0246

In [55]:
#In Python, what is the result of the following operation '1'+'2'?

'1'+'2'

'12'

In [56]:
#Given myvar = 'hello', how would you convert myvar into uppercase?

myvar = 'hello'
myvar.upper()

'HELLO'